.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  font-family: "Cabin";
}

.leftContainer {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.rightContainer {
  flex: 2;
   display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to bottom right, #fcfcfc, #ffffff);  */
}

.loginImage {
  max-width: 80%;
  height: auto;
  /* margin-top: 10%; */
  border-radius: 15px;
}

.authformcontainer {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 1.5rem;
  color: #1d4ed8;
  text-align: center;
}

.loginform {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.loginbuttons {
  border: none;
  background-color: #0055A2;
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginbuttons:hover {
  background-color: #1747b0e3;
}

.registerlink {
  text-align: center;
  font-size: 0.9rem;
}

.registerlink a {
  color: #0055A2;
  text-decoration: none;
}

.registerlink a:hover {
  text-decoration: underline;
}

