.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 1 column for Time/Day header, 7 columns for days */
    grid-template-rows: auto repeat(7, 1fr); /* 1 row for the Time header, 7 rows for time slots */
    gap: 5px;
    padding: 10px;
  }
  
  .header {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .time {
    background-color: #f9f9f9;
  }
  
  .cell {
    background-color: #fff;
  }

  .grid-item {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .grid-item-filled {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #2a77ce;
  }