/* src/components/SearchBar/SearchBar.css */

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  
  .search-bar input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #e6e6e6;
  }
  
  .search-bar input:focus {
    outline: none;
    border-color: #0055A2;
  }
  