.container {
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin-left: -15px; /* Adjust this value to move it to the left */
}
.parentcontainer {
  padding: 10px;
  text-align: left;
  padding-bottom: 7px;
}
.label {
  display: inline-block;
  justify-content: center;
  color: rgb(4, 73, 39);
  font-size: 18px;
}

.content {
  width: 100%;
  overflow-wrap: break-word;
  border: none;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
}
